<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a href="/users/new">Create a User</a>
    <h1>Welcome to fazbook</h1>
  </body>
</html>
